<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" type="text/css" href="/css/style.css" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <title>Networks</title>

</head>
<body>
    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">
          <header>
            <a href="/" onclick="stopICMP()">NetPlus</a>
          </header>
          <ul class="nav">
            <li>
              <a href="/organisations"><i class="zmdi zmdi-link"></i>Organisations</a>
              <form class="form-group">
                <select class="custom-select" id="orgDropDownId" data-width="100%" disabled>
                  <option selected><%=orgId%></option>
                </select>
              </form>
            </li>
            <li>
              <a href="/organisations/<%=orgId%>"><i class="zmdi zmdi-link"></i> Sites</a>
              <form class="form-group">
                <select class="custom-select" id="siteDropDownId" data-width="100%" disabled>
                  <option selected><%=siteId%></option>
                </select>
              </form>
            </li>
            <li>
              <a href="/organisations/<%=orgId%>/<%=siteId%>"><i class="zmdi zmdi-link"></i>Networks</a>
              <form class="form-group">
                <select class="custom-select" id="networkDropDownId" data-width="100%" disabled>
                  <option selected><%=netId%></option>
                </select>
              </form>
              <!--  <a href="/organisations/<%=orgId%>/<%=siteId%>"><i class="zmdi zmdi-link"></i> Networks</a> Should be disabled until Site Selected -->
            </li>
          </ul>
        </div>
        <!-- Content -->
        <div id="content">

            <nav class="navbar">
              <nav class="navbar">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/" onclick="stopICMP()">Home</a></li>
                    <li class="breadcrumb-item active"><a href="/<%=orgId%>" id="orgUri"><%=orgId%></a></li>
                    <li class="breadcrumb-item active"><a href="/<%=orgId%>/<%=siteId%>" id="siteUri"><%=siteId%></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="/<%=orgId%>/<%=siteId%>/<%=netId%>" id="netUri"><%=netId%></a></li>
                  </ol>
              </nav>
            </nav>
            
            <div class="container-fluid">
              <div class="row content">
                <div class="col-sm-3 sidenav">
                  <div class="card border-dark text-center">
                    <h5 class="card-header"><%=alias_name%>   <i class="material-icons inline-icon" id="deviceHealth"><%=status%></i></h5>
                    <hr>
                    <img class="card-img-top center-img" id="device-type" data-url="<%=network_type%>" src="<%=img%>" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><%=host%></h5>
                      <p class="card-text"></p>
                      <hr>
                      <p><%=siteAddress%></p>
                      <hr>
                      <a id="ssh-btn" onclick="GenerateSSH(this)" data-url="/otp/<%=host%>" class="btn btn-primary">GET <%=protocol%> Session</a>
                      <hr>
                      <a id="uplink-btn" onclick="UplinkStatus(this)" data-url="/uplinks/<%=host%>" class="btn btn-primary invisible">Uplink Status</a>
                    </div>

                  </div>
                </div>
            
                <div class="col-sm-9">
                  <h4 id="uplink-title"><small>Uplink status</small></h4>
                  <hr>
                  <p id="uplink-health"></p>
                  <div class="card" id="uplink-card">
                    <div class="card-body" style="position: relative; height:40vh; width:auto">
                      <canvas id="uplink-chart"></canvas>
                    </div>
                  </div>
                  <br><br>
                  <h4><small>Show history</small></h4>
                  <hr>
                  <div class="btn-group btn-group-justified">
                    <a id="history60" class="btn btn-primary" onclick="UplinkHistory(this)" data-url="/history/<%=netId%>">1 Hour</a>
                    <a id="history1440" class="btn btn-primary" onclick="UplinkHistory(this)" data-url="/history/<%=netId%>">24 Hour</a>
                    <a id="history8640" class="btn btn-primary" onclick="UplinkHistory(this)" data-url="/history/<%=netId%>">30 Day</a>
                  </div>
                  
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      <canvas id="historyChart"></canvas>
                    </div>
                  </div>

                  <h4><small>Stored procedures</small></h4>
                  <hr>
                  <div class="btn-group btn-group-justified">
                    <a class="btn btn-primary" id="getConfig" onclick="GetCMD(this)" data-url="/device/<%=netId%>/runconfig">Show device config</a>
                    <a class="btn btn-primary" id="getEnv" onclick="GetCMD(this)" data-url="/device/<%=netId%>/env">Show device health</a>
                    <a class="btn btn-primary" id="getRoute" onclick="GetCMD(this)" data-url="/device/<%=netId%>/iproute">Show routing table</a>
                  </div>

                  <div class="collapse" id="collapseResult">
                    <div class="card card-body">
                      <textarea class="form-control" id="cmdDisplay" rows="20" cols="150" readonly></textarea>
                    </div>
                  </div>

                  <h4><small>Configure device</small></h4>
                  <hr>
                  <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-primary">Configure VLAN</a>
                    <a href="#" class="btn btn-primary">Configure NAT rules</a>
                    <a href="#" class="btn btn-primary">Configure DNS</a>
                  </div> 
                  <hr>
                  <h4><small>Alerts</small></h4>
                  <hr>
                  <div class="alert-refresh" data-url = "/alerts/<%=host%>" id="tDisplay"></div>
                  <br><br>

                  <h4><small>Clients</small></h4>
                  <hr>
                  <div class="client-refresh" data-url = "/clients/<%=host%>" id="tDisplay"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <hr>

                </div>

              </div>
            </div>
            </div>
        </div>
        
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

    <!-- Chart library used for Uplink graph -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <!-- DataTables jQuery library -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    
    <!-- Import client side JavaScript -->
    <script type="application/javascript" src="/client.js"></script>


</body>
</html>