<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" type="text/css" href="/css/style.css" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <title>Organisations</title>

</head>
<body>
    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">
          <header>
            <a href="/">NetPlus</a>
          </header>
          <ul class="nav">
            <li>
              <a href="/organisations"><i class="zmdi zmdi-link"></i>Organisations</a>
              <form class="form-group">
                <select class="custom-select" id="orgDropDownId" data-width="100%" disabled>
                  <option selected><%=orgId%></option>
                </select>
              </form>
            </li>
            <li>
              <a href="/organisations/<%=orgId%>"><i class="zmdi zmdi-link"></i>Sites</a>
              <form class="form-group">
                <select class="custom-select" id="siteDropDownId" data-width="100%">
                  <option selected>Loading...</option>
                </select>
              </form>
              <!-- <a href="/organisations/<%=orgId%>"><i class="zmdi zmdi-link"></i> Sites</a> Should be disabled until Org Selected -->
            </li>
            <li>
              <a><i class="zmdi zmdi-link"></i>Networks</a>
              <form class="form-group">
                <select class="custom-select" id="networkDropDownId" data-width="100%" disabled>
                  <option selected>Choose...</option>
                </select>
              </form>
            </li>
          </ul>
        </div>
        <!-- Content -->
        <div id="content">

            <nav class="navbar">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="/<%=orgId%>" id="orgUri"><%=orgId%></a></li>
                </ol>
              </nav>
            </nav>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <h1>Sites</h1>
                        <div class="site-refresh" data-url = "/sites/<%=orgId%>" id="tDisplay">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    
    <!-- DataTables jQuery library -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    
    <!-- Import client side JavaScript -->
    <script type="application/javascript" src="/client.js"></script>

</body>
</html>